<h1>Add A New Picture</h1>
<%= link_to "BACK", pictures_path %>

<%= form_for @picture do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :artist %>
    <%= f.text_field :artist %>
  </p>
  <p>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </p>
  
  <p>
    <%= f.submit "ADD" %>
  </p>
  <% end %>
